<div class="my-5">
  <div class="row d-flex justify-content">
    <div *ngFor="let skill of skills" class="d-flex justify-content-center col-sm-3">
      <div (click)="myClick(skill)" [class.highlight]="skill.isSelected"
           class="border-round-corners margin-bottom-40 select">
        {{skill.skillName}}
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-sm-2">
    <button (click)="onDelete()" class="task-button text-center">Delete</button>
  </div>
  <div class="col-sm-2">
    <button (click)="onEdit()" class="task-button text-center">Edit</button>
  </div>
  <div class="col-sm-2">
    <button (click)="onAdd()" class="task-button text-center add-btn">Add Skill</button>
  </div>
</div>
