<div class = "row justify-content-center align-items-center margin-right">
  <div class="col-md-5">
    <!--    <a class="navbar-item" href="./home">-->
    <a class="navbar-item" [routerLink]="['/home']">
      <img src="assets/img/logo.png">
    </a>
  </div>
  <div class ="col-md-7"><h3><b>{{title}}</b></h3></div>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Skills</a>
        <div ngbDropdownMenu class = "bg-dark no-border">
          <button ngbDropdownItem [routerLink]="['/getname']" class = "bg-dark text-light">Assignment</button>
          <button ngbDropdownItem class = "bg-dark text-light">Analysis</button>
          <button ngbDropdownItem class = "bg-dark text-light">Validation</button>
          <button ngbDropdownItem class = "bg-dark text-light">Report</button>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Training</a>
        <div ngbDropdownMenu class = "bg-dark no-border">
          <button ngbDropdownItem class = "bg-dark text-light">Assignment</button>
          <button ngbDropdownItem class = "bg-dark text-light">Report</button>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Certification</a>
        <div ngbDropdownMenu class = "bg-dark no-border">
          <button ngbDropdownItem class = "bg-dark text-light">CE/Reports</button>
          <button ngbDropdownItem class = "bg-dark text-light">Search</button>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Admin</a>
        <div ngbDropdownMenu class = "bg-dark no-border">
          <button ngbDropdownItem [routerLink]="['admin-skill']" class = "bg-dark text-light">Skills</button>
<!--          <button ngbDropdownItem [routerLink]="['admin-training']" class = "bg-dark text-light">Training</button>-->
          <button ngbDropdownItem class = "bg-dark text-light">Training</button>
          <button ngbDropdownItem class = "bg-dark text-light">Certification</button>
          <button ngbDropdownItem class = "bg-dark text-light">CE</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
