html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.margin-bottom-40{
  margin-bottom: 40px;
}

.padding-left{
  padding-left: 10px;
}

.no-padding {
  padding: 0 !important;
}


.select{
  cursor: pointer;
}

.highlight {
  background-color: #76BDAB;
  color: white;
}

.task-button {
  padding: .75rem 1.25rem;
  border-radius: 9px;
  border: 0.4px solid #394052;
  width: 135px;
  height: 45px;
  background-color: #394052;
  color: white;
}
.add-btn:enabled {
  background-color: #76BDAB;
  color: white;
}

.margin-top-40{
  margin-top: 40px;
}

.padding-top-40{
  padding-top: 40px;
}
