.max_height_list{
  max-height: 400px;
}

.over_flow{
  overflow-x: hidden;
  overflow-y: auto;
}

.border-round-corners{
  padding: 1rem 1.25rem;
  border-radius: 9px;
  border: 0.4px solid #394052;
}
