<div class="my-5">
  <form>
    <div class="row margin-top-2">
        <label class="col-sm-4 text-center">Users</label>
          <div class="col-sm-8">
            <div class="row d-flex float-md-left padding-right-5">
              <!--              <ul class="list-group search-list max_height_list over_flow" id="myList">-->
              <i class="fas fa-search" aria-hidden="true"></i>
              <input class="form-control w-100"
                     (input)="searchAttended($event.target.value)"
                     type="text" placeholder="Search"
                     aria-label="Search">
              <select class="form-control w-100" name="user" multiple [(ngModel)]="selectedUser">
                <option *ngFor="let user of filteredItems"
                        [value]="user">{{user.firstName + ' ' + user.lastName}}</option>
              </select>

              <!--                <li class="list-group-item"-->
              <!--                    *ngFor="let user of users">{{user.firstName + ' ' + user.lastName}}</li>-->
              <!--              </ul>-->
            </div>
          </div>
        </div>
  </form>
</div>
<div class="d-flex justify-content-center">
  <div class="col-sm-2">
    <button (click)="onDelete()" class="task-button text-center">Delete</button>
  </div>
  <div class="col-sm-2">
    <button (click)="onEdit()" class="task-button text-center">Edit</button>
  </div>
  <div class="col-sm-2">
    <button (click)="onAdd()" class="task-button text-center add-btn">Add User</button>
  </div>
</div>

