<div class="my-5">
  <form #skillForm="ngForm">
    <div class="form-group row">
      <label class="col-sm-4 text-center" for="name">Assignment Name</label>
      <input [(ngModel)]="assignment.skillAssignmentName" class="form-control col-sm-5" id="name"
             name="name"
             required
             type="text" placeholder="Enter skill name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine || name.untouched"
           class="input col-sm-2 alert-danger">
        Enter Skill name
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 text-center" for="costCenter">Cost Center</label>
      <select class="form-control col-sm-5" id="costCenter" required
              [(ngModel)]="assignment.costCenterId" name="costCenter" (change)="onChangeCostCenter()">
        <option *ngIf="!assignment.costCenterId" hidden value="" disabled>Select one training</option>
        <option *ngFor="let costCenter of costCenters" [value]="costCenter.id">{{costCenter.costCenterName}}</option>
      </select>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 text-center">Select Staff Members</label>
      <span class="col-sm-5 no-padding">
      <ng-multiselect-dropdown #multiSelect
                               [placeholder]=""
                               [formControl]="f.name"
                               [data]="usersList"
                               [settings]="dropdownSettings"
                               (onSelect)="onItemSelect($event)"
                               (onDeSelect)="OnItemDeSelect($event)"
                               (onSelectAll)="onSelectAll($event)"
                               (onDeSelectAll)="onDeSelectAll($event)">
      </ng-multiselect-dropdown>
      </span>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 text-center" for="skill">Select Skill to Assign</label>
      <select class="form-control col-sm-5" id="skill" required
              [(ngModel)]="assignment.skillId" name="skill">
        <option *ngIf="!assignment.skillId" hidden value="" disabled>Select one training</option>
        <option *ngFor="let skill of skills" [value]="skill.id">{{skill.skillName}}</option>
      </select>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 text-center" for="skillValidator">Skill Validated by</label>
      <select class="form-control col-sm-5" id="skillValidator" required
              [(ngModel)]="assignment.skillValidatorId" name="skillValidator">
        <option *ngIf="!assignment.skillValidatorId" hidden value="" disabled>Select one training</option>
        <option *ngFor="let user of users" [value]="user.id">{{user.firstName}}</option>
      </select>
    </div>
    <div class="form-group row">

      <label class="col-sm-4 text-center" for="name">Completion Date</label>
      <!--      <ngb-datepicker #d></ngb-datepicker>-->
      <input [(ngModel)]="assignment.completionDate" class="form-control col-sm-5" id="date"
             name="date"
             required
             type="date" placeholder="Choose Date" #name="ngModel">
    </div>
  </form>
</div>
<div class="d-flex justify-content-center">
  <div class="col-sm-2">
    <button (click)="onCancel()" class="task-button text-center">Cancel</button>
  </div>
  <div class="col-sm-2">
    <button (click)="onSave()" class="btn task-button text-center add-btn" [disabled]="!skillForm.form.valid">Save
    </button>
  </div>
</div>

