<div *ngIf="showMsg" class="my-5 max_height_list over_flow">
  <div class="form-group row">
    <h1 class="col-sm-12 text-center">No Pending Validation</h1>
  </div>
</div>
<div *ngIf="!showMsg" class="my-5">
  <div class="form-group row">
    <label class="col-sm-4 text-center" for="user">Select User to Validate Skill</label>
    <select class="form-control col-sm-5" id="user" required
            [(ngModel)]="selectedUser" name="user" (change)="createMrnList()">
      <option *ngFor="let user of users" [value]="user.id">
        {{user.name}}</option>
    </select>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 text-center" for="mrn">Select Patient MRN</label>
    <select class="form-control col-sm-5" id="mrn" required
            [(ngModel)]="selectedMrn" name="mrn" (change)="createEpisodesTableData()">
      <option *ngFor="let mrn of mrnList" [value]="mrn">{{mrn}}</option>
    </select>
  </div>
</div>
<div [hidden]="!showTable" class="my-5">
  <div class="d-flex justify-content-center">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Skill Name</th>
        <th scope="col">Date & Time of Service</th>
        <th scope="col">Status</th>
        <th scope="col">Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-justify" *ngFor="let row of episodeTableData">
        <td scope="row" class="text-center">{{row.skillName}}</td>
        <td scope="row" class="text-center">{{row.date}}</td>
        <td scope="row" class="text-center">
          <input type="radio" value=true [checked]="row.validated"
                 (change)="row.validated = true; row.remediated = false">Validate
          <input type="radio" value=false [checked]="row.remediated"
                 (change)="row.remediated = true; row.validated = false">Remediate
        </td>
        <td scope="row" class="text-justify">
          <input [(ngModel)]="row.comment" class="col-md-12" type="text">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-center">
<!--  <div class="col-sm-2">-->
<!--    <button (click)="onCancel()" class="task-button text-center">Cancel</button>-->
<!--  </div>-->
  <div [hidden]="!showTable" class="col-sm-2">
    <button (click)="onSave()" class="btn task-button text-center add-btn">Save
    </button>
  </div>
</div>
