<h1 *ngIf="showMsg">No Data Available</h1>
<div *ngIf="!showMsg" class="my-5">
  <div class="form-group row">
    <label class="col-sm-4 text-center" for="user">Select User to Validate Skill</label>
    <select class="form-control col-sm-5" id="user" required
            [(ngModel)]="selectedUser" name="user" (change)="createMrnList()">
      <option *ngFor="let user of users" [value]="user.id">
        {{user.name}}</option>
    </select>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 text-center" for="mrn">Select Patient MRN</label>
    <select class="form-control col-sm-5" id="mrn" required
            [(ngModel)]="selectedMrn" name="mrn" (change)="createEpisodesTableData()">
      <option *ngFor="let mrn of mrnList" [value]="mrn">{{mrn}}</option>
    </select>
  </div>
</div>
<div class="my-5">
  <div class="d-flex justify-content-center">
    <table [hidden]="!showTable" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Skill Name</th>
        <th scope="col">Date of Service</th>
        <th scope="col">Status</th>
        <th scope="col">Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-justify" *ngFor="let row of episodeTableData">
        <td scope="row" class="text-justify">{{row.skillName}}</td>
        <td scope="row" class="text-justify">{{row.date}}</td>
        <td scope="row" class="text-justify">
<!--          <input class="col-md-3" type="radio" value=true id="yes"-->
<!--                 name="CE" [checked]="row.validate" (change)="row.validate=true">-->
<!--          <label class="form-check-label" for="yes">Validate</label>-->
<!--          <input class="col-md-3" type="radio" value=true id="no"-->
<!--                 name="CE" [checked]="!row.validate" (change)="row.validate=false">-->
<!--          <label class="form-check-label" for="no">Remediate</label>-->
          <input type="radio" value=true [checked]="row.validate"
                 (change)="row.validated = true">Validate
          <input type="radio" value=false [checked]="row.remediate"
                 (change)="row.remediated = true">Remediate
        </td>
        <td scope="row" class="text-justify">
          <input [(ngModel)]="row.comment" class="col-md-12" type="text">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-center">
<!--  <div class="col-sm-2">-->
<!--    <button (click)="onCancel()" class="task-button text-center">Cancel</button>-->
<!--  </div>-->
  <div [hidden]="!showTable" class="col-sm-2">
    <button (click)="onSave()" class="btn task-button text-center add-btn">Save
    </button>
  </div>
</div>
